[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ext/zeldamods.zlib-ng"]
	path = ext/zeldamods.zlib-ng
	url = https://github.com/zeldamods/zlib-ng/
[submodule "ext/nlohmann.json"]
	path = ext/nlohmann.json
	url = https://github.com/nlohmann/json.git
[submodule "ext/tinyfiledialogs"]
	path = ext/tinyfiledialogs
	url = git://git.code.sf.net/p/tinyfiledialogs/code
