[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ext/nlohmann.json"]
	path = ext/nlohmann.json
	url = https://github.com/nlohmann/json.git
[submodule "ext/tinyfiledialogs"]
	path = ext/tinyfiledialogs
	url = git://git.code.sf.net/p/tinyfiledialogs/code
[submodule "ext/rg-etc1"]
	path = ext/rg-etc1
	url = https://github.com/conhlee/rg-etc1.git
[submodule "ext/zlib-ng"]
	path = ext/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
