.vscode

.DS_Store

.cache

CMakeFiles
build

ALL_BUILD.vcxproj*
ZERO_CHECK.vcxproj*

toast.sln
toast.vcxproj*

cmake_install.cmake

CMakeCache.txt

imgui.ini

ROADMAP.txt

*.szs
*.brcad
*.u8
*.tpl

*.7z
*.zip

*.temp.png
*.sai2

*.config.json