<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
        <string>toast</string>

    <key>CFBundleDisplayName</key>
        <string>toast</string>

    <key>CFBundleVersion</key>
        <string>1.0.0</string>

    <key>CFBundleShortVersionString</key>
        <string>1.0</string>

    <key>CFBundleIdentifier</key>
        <string>com.conhlee.toast</string>

    <key>CFBundleExecutable</key>
        <string>toast</string>

    <key>NSHumanReadableCopyright</key>
        <string>© 2024 conhlee</string>
</dict>
</plist>
