name: CMake on multiple platforms

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-13]
        build_type: [Release]
        c_compiler: [gcc]
        include:
          - os: windows-latest
            c_compiler: gcc
            cpp_compiler: g++
            build_type: Release
          - os: ubuntu-20.04
            c_compiler: gcc
            cpp_compiler: g++
            build_type: Release
          - os: macos-13
            c_compiler: gcc
            cpp_compiler: g++
            build_type: Release

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install libglfw3-dev & libglew-dev on Ubuntu
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libglfw3-dev && sudo apt-get install -y libglew-dev

      - name: Install MinGW on Windows
        if: runner.os == 'Windows'
        run: choco install mingw --version 13.2.0 --x86_64 --no-progress

      - name: Add MinGW to PATH on Windows
        if: runner.os == 'Windows'
        run: echo "C:\Program Files\mingw-w64\bin" >> $GITHUB_PATH

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

      - name: Configure CMake
        run: >
          cmake -B ${{ steps.strings.outputs.build-output-dir }}
          ${{ matrix.os == 'windows-latest' && '-G "MinGW Makefiles"' || '' }}
          -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
          -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -S ${{ github.workspace }}

      - name: Build
        run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

      - uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: ${{ steps.strings.outputs.build-output-dir }}
